.header {
  background-color: #222;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  height: 76.8px;
  width: 100%;
}

.header .header-right .menubutton {
  display: block;
  z-index: 3;
  height: 30px;
  width: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
}

.header .header-right .menubutton div {
  height: 2px;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: .5s;
  transition: .5s;
}

.header .header-right .menubutton div:nth-of-type(1) {
  -webkit-transform: translate(-50%, -11px);
          transform: translate(-50%, -11px);
}

.header .header-right .menubutton div:nth-of-type(3) {
  -webkit-transform: translate(-50%, 11px);
          transform: translate(-50%, 11px);
}

.header .header-right .menubutton.active {
  background-color: #222;
  z-index: 3;
}

.header .header-right .menubutton.active div:nth-of-type(2) {
  opacity: 0;
}

.header .header-right .menubutton.active div:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translate(-50%, 0);
          transform: rotate(-45deg) translate(-50%, 0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.header .header-right .menubutton.active div:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translate(-50%, 0);
          transform: rotate(45deg) translate(-50%, 0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.menu.active {
  display: block;
  position: fixed;
  background-color: #555;
  opacity: .9;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: .5s;
  transition: .5s;
  width: 30vw;
  height: 100vh;
  padding-top: 15vh;
  -webkit-box-shadow: #555 0 0 10px 5px;
          box-shadow: #555 0 0 10px 5px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu.active .menu-box1 {
  opacity: 1;
  visibility: visible;
}

.menu.active .menu-box1 li {
  font-size: 30px;
  padding-bottom: 20px;
  display: table;
  cursor: pointer;
  padding-left: 3vw;
}

.menu.active .menu-box1 li:hover {
  opacity: .5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu.active .menu-box2 {
  opacity: 1;
  visibility: visible;
}

.menu.active .menu-box2 li {
  font-size: 15px;
  padding-bottom: 10px;
  cursor: pointer;
  padding-left: 3vw;
}

.menu.active .menu-box2 li:hover {
  opacity: .5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu {
  display: none;
  padding-top: 15vh;
  -webkit-transform: translateX(-30vw);
          transform: translateX(-30vw);
  -webkit-transition: 3s;
  transition: 3s;
}

.menu a {
  color: #fff;
}

.menu .menu-box1 {
  opacity: 0;
  visibility: hidden;
}

.menu .menu-box1 li {
  font-size: 30px;
  padding-bottom: 20px;
  display: table;
  padding-left: 3vh;
}

.menu .menu-box2 {
  opacity: 0;
  visibility: hidden;
}

.menu .menu-box2 li {
  font-size: 15px;
  padding-bottom: 10px;
  padding-left: 3vw;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

.mask.active {
  opacity: .8;
  visibility: visible;
}

.top-wrapper {
  background-color: #222;
  position: relative;
}

.top-wrapper .top-wrapper-theme1 {
  z-index: 1;
  position: absolute;
  top: 13vh;
  left: 10vw;
}

.top-wrapper h1 {
  font-size: 80px;
  font-weight: bold;
  color: red;
}

.top-wrapper h1 .span1 {
  color: #fff;
  display: inline-block;
  padding-left: 50px;
}

.top-wrapper h1 .span2 {
  color: red;
  display: inline-block;
  padding-left: 100px;
}

.top-wrapper .top-wrapper-theme2 {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 55vh;
  left: 67vw;
  z-index: 1;
}

.top-wrapper .top-wrapper-theme2 span {
  color: red;
}

.top-wrapper .animation-picture1 {
  border-radius: 2%;
  background-image: url(/assets/cristian-baron-0-hB59n1m94-unsplash.jpg);
  width: 33.5vw;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 65vw;
  margin-top: 10vh;
}

.top-wrapper .animation-picture2 {
  border-radius: 2%;
  background-image: url(/assets/anastase-maragos-fG0p4Qh_aWI-unsplash.jpg);
  width: 65vw;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.animation-target {
  position: relative;
}

.animation-target::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #222;
}

@-webkit-keyframes showmask {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  90% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes showmask {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  90% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
}

.animation-target.show::before {
  -webkit-animation: showmask 1.5s forwards;
          animation: showmask 1.5s forwards;
}

@-webkit-keyframes move1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.top-wrapper-theme1.show {
  -webkit-animation: move1 1.8s;
          animation: move1 1.8s;
}

@-webkit-keyframes move2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.top-wrapper-theme2.show {
  -webkit-animation: move2 1.8s;
          animation: move2 1.8s;
}

.main-wrapper {
  background-color: #222;
}

.main-wrapper h1 {
  margin: 0 auto;
  display: table;
  padding-top: 30vh;
  font-size: 3rem;
  font-weight: normal;
}

.main-wrapper h2 {
  font-size: 2rem;
}

.main-wrapper p {
  font-size: 1.2rem;
}

.main-wrapper .flex-target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh 0;
}

.main-wrapper .flex-target .text {
  padding-top: 15vh;
}

.main-wrapper .flex-target:nth-child(odd) {
  background-color: #111;
  -webkit-box-shadow: #111 0 0 30px 15px;
          box-shadow: #111 0 0 30px 15px;
}

.main-wrapper .flex-target:nth-child(odd) .text {
  padding-left: 10vw;
  padding-right: 5vw;
}

.main-wrapper .flex-target:nth-child(even) .text {
  padding-left: 5vw;
}

.main-wrapper .flex-target:nth-child(even) img {
  margin-left: 5vw;
}

.animation-text {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.animation-text.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.bottom-wrapper {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15vh;
}

.bottom-wrapper h2 {
  padding-top: 20vh;
  font-size: 2.5rem;
  display: table;
  margin: 0 auto;
}

.bottom-wrapper .bottom-box {
  border-radius: 3%;
  color: #ccc;
  margin-top: 15vh;
  vertical-align: top;
  border: 1px  solid #444;
  -webkit-box-shadow: #444 3px 8px 95px 20px;
          box-shadow: #444 3px 8px 95px 20px;
  display: inline-block;
  width: 27vw;
  height: 25vh;
  margin-right: 4vw;
}

.bottom-wrapper .bottom-box h3 {
  font-size: 1.6rem;
  padding: 5% 0 10% 10%;
}

.bottom-wrapper .bottom-box i {
  padding-right: 2%;
}

.bottom-wrapper .bottom-box p {
  font-size: 1.3rem;
  padding: 0 10%;
}

.bottom-wrapper .bottom-box:first-of-type {
  margin-left: 4vw;
}

.bottom-wrapper .bottom-box:nth-of-type(4) {
  margin-left: 19vw;
}

.bottom-wrapper .bottom-box:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: .1s;
  transition: .1s;
}

.animation-box {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.animation-box.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.start-wrapper {
  position: relative;
  background-color: #222;
  padding: 15vh 0 5vh 0;
}

.start-wrapper img {
  -webkit-box-shadow: #666 0 0 50px 15px;
          box-shadow: #666 0 0 50px 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.start-wrapper h2 {
  color: #222;
  z-index: 1;
  position: absolute;
  top: 30vh;
  left: 45vh;
  font-size: 80px;
  padding-bottom: 20vh;
  display: table;
  margin: 0 auto;
}

.start-wrapper h2 .span3 {
  color: red;
}

.start-wrapper h2 .span4 {
  padding-left: 10vh;
}

.start-wrapper .start {
  position: absolute;
  top: 65vh;
  left: 40vw;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

.start-wrapper .start a {
  color: #fff;
}

.start-wrapper .start .signup2 {
  display: inline-block;
  border-radius: 5%;
  width: 10vw;
  text-align: center;
  line-height: 10vh;
  height: 10vh;
  border: 1px solid #fff;
}

.start-wrapper .start .login2 {
  display: inline-block;
  border-radius: 5%;
  width: 10vw;
  text-align: center;
  line-height: 10vh;
  height: 10vh;
  border: 1px solid #fff;
}

.start-wrapper .start .signup2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .1s;
  transition: .1s;
}

.start-wrapper .start .login2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .1s;
  transition: .1s;
}
/*# sourceMappingURL=hello.css.map */