// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.header-person-new {
    height: 10vh;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 0 5px 5px #aaa;
}
.diagnose {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.2rem;
    border: #ddd 1px solid;
    margin: 3% auto;
    height: 65vh;
    width: 50vw;
    display: table;
    border-radius: 1%;
    box-shadow: 0 0 5px 5px #ddd;
    margin-top: 15vh;

    h2 {
        margin: 5% 0 3% 3%;
        font-size: 1.7rem;
        font-weight: normal;
        border-bottom: 2px solid #d37800;
        color: #d37800;
        display: inline-block;
        padding-bottom: 2%;
    }

    .diagnose-field {
        width: 45vw;
        margin-left: 3%;
        height: 5vh;
        outline: none;
        border: none;
        border-bottom: #ddd 1px solid;
        margin-bottom: 3%;
    }

    .diagnose-field:focus {
        border-bottom: 1px solid #d37800;
    }

    .diagnose-label {
        display: inline-block;
        border-left: #d37800 5px solid;
        padding: 2% 0 2% 1%;
        margin-bottom: 1%;
        margin-left: 2%;
        font-size: 1.2rem;
    }

    .actions {
        width: 40vw;
        margin: 0 auto;
        .diagnose-button {
            width: 40vw;
            height: 40px;
            border: #d37800 solid 1px;
            background-color: #d37800;
            color: #fff;
            font-size: 1.3rem;
        }
        .diagnose-button:hover {
            opacity: .9;
        }
    }


}

.person-show {
    font-size: 1.2rem;
    width: 75vw;
    margin: 5% auto;
    box-shadow: 0 0 3px 3px #ddd;
    border: #ddd 1px solid;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    h2 {
        font-size: 1.7rem;
        color: #d37800;
        border-bottom: 3px solid #d37800;
        padding-bottom: 1%;
        display: table;
        margin: 3% auto;
    }
    .person-show-text {
        margin: 0 auto;
        display: table;
        p {
            margin-bottom: 1%;
        }
    }
    .if-body {
        margin: 0 auto;
        display: table;
        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            border-radius: 5%;
        }
        .judge {
            display: table;
            margin: 3% auto;
            font-size: 1.3re;
            span {
                color: #d37800;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
        .person-speak {
            margin: 5% 0;
            display: flex;
            .speech-bubble {
                position: relative;
                padding: 30px 20px 20px 20px;
                background-color: #e79223;
                border-radius: 30px;
                width: 25vw;
                height: 15vh;
                margin: 10% 0 0 10%;
                font-size: 1.5rem;
            }
            .speech-bubble::before {
                content: '';
                position: absolute;
                display: block;
                border-radius: 50%;
                background-color: #e79223;
                left: -35px;
                bottom: 15px;
                width: 30px;
                height: 30px;
            }
            .speech-bubble::after {
                content: '';
                position: absolute;
                display: block;
                border-radius: 50%;
                background-color: #e79223;
                left: -55px;
                bottom: 10px;
                width: 15px;
                height: 15px;
            }
        }
    }
}