.signup {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.2rem;
    border: #ddd 1px solid;
    margin: 3% auto;
    height: 75vh;
    width: 50vw;
    display: table;
    border-radius: 1%;
    box-shadow: 0 0 5px 5px #ddd;

    h2 {
        margin: 5% 0 3% 3%;
        font-size: 1.7rem;
        font-weight: normal;
        border-bottom: 2px solid #d37800;
        color: #d37800;
        display: inline-block;
        padding-bottom: 2%;
    }

    .signup-field {
        width: 45vw;
        margin-left: 3%;
        height: 5vh;
        outline: none;
        border: none;
        border-bottom: #ddd 1px solid;
        margin-bottom: 3%;
    }

    .signup-field:focus {
        border-bottom: 1px solid #d37800;
    }

    .signup-label {
        display: inline-block;
        border-left: #d37800 5px solid;
        padding: 2% 0 2% 1%;
        margin-bottom: 1%;
        margin-left: 2%;
        font-size: 1.2rem;
    }

    .actions {
        width: 40vw;
        margin: 0 auto;
        .signup-button {
            width: 40vw;
            height: 40px;
            border: #d37800 solid 1px;
            background-color: #d37800;
            color: #fff;
            font-size: 1.2rem;
        }
        .signup-button:hover {
            opacity: .9;
        }
    }


}