@charset "UTF-8";
.header-user-show {
  height: 10vh;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0 0 5px 5px #aaa;
          box-shadow: 0 0 5px 5px #aaa;
}

.users-container {
  margin-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, ”ヒラギノ角ゴ Pro W3″, ”Hiragino Kaku Gothic Pro”, Osaka, ”メイリオ”, Meiryo, ”ＭＳ Ｐゴシック”, ”MS PGothic”, sans-serif;
}

.user-left {
  width: 30vw;
  height: 90vh;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: Arial, ”ヒラギノ角ゴ Pro W3″, ”Hiragino Kaku Gothic Pro”, Osaka, ”メイリオ”, Meiryo, ”ＭＳ Ｐゴシック”, ”MS PGothic”, sans-serif;
  border: 1px solid #eee;
  border-left: none;
}

.user-left .far {
  padding: 0 3%;
}

.user-left .fas {
  padding: 0 3%;
}

.user-left li:first-of-type {
  padding-top: 15%;
  color: #d37800;
}

.user-left li {
  margin: 10% 0;
}

.user-show-center {
  padding-top: 3vh;
  background-color: #fff;
  width: 33vw;
  font-weight: normal;
  height: 90vh;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.user-show-center .top-detail {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13.5vw;
}

.user-show-center img {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.user-show-center .show-name {
  font-weight: bold;
  line-height: 75px;
  padding-left: 4%;
  font-size: 1.3rem;
}

.user-show-center .show-name:hover {
  color: #d37800;
  cursor: pointer;
}

.user-show-center .user-edit {
  margin: 5% auto;
  width: 235px;
  height: 50px;
  border-radius: 12% / 50%;
  border: #03a9f4 solid 2px;
}

.user-show-center .user-edit a {
  color: #03a9f4;
  font-weight: bold;
}

.user-show-center .user-edit .user-edit-text {
  display: table;
  line-height: 50px;
  margin: 0 auto;
}

.user-show-center .user-edit:hover {
  background-color: #eee;
}

.user-show-center .balloon1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  margin-left: 10%;
  padding: 7px 10px;
  width: 80%;
  min-height: 2rem;
  color: #111;
  font-size: 16px;
  background: #FFF;
  border: solid 2px #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.user-show-center .balloon1:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #FFF;
  z-index: 2;
}

.user-show-center .balloon1:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #ddd;
  z-index: 1;
}

.user-show-center .balloon1 p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.user-show-center .fo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.user-show-center .fo a {
  color: #cc7607;
}

.user-show-center .fo a:hover {
  color: #fc9106;
}

.user-show-center .fo li:nth-of-type(2) {
  padding-left: 1%;
}

.user-show-center .start-chat {
  width: 300px;
  height: 50px;
  border-radius: 12% / 50%;
  border: #4caf50 solid 2px;
  color: #4caf50;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  display: table;
  margin: 5% auto;
}

.user-show-center .start-chat:hover {
  background-color: #eee;
}

.user-show-center .go-chat {
  width: 300px;
  height: 50px;
  border-radius: 12% / 50%;
  border: #4caf50 solid 2px;
  color: #4caf50;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  display: table;
  margin: 9% 0 0 16%;
  display: inline-block;
  padding: 3% 0 0 22%;
}

.user-show-center .go-chat:hover {
  background-color: #eee;
}

.user-show-right {
  width: 33vw;
  background-color: #fff;
  border: 1px solid #eee;
}

.user-show-right h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid #eee;
  padding: 5% 0 5% 3%;
}

.user-show-right .user-blog {
  height: 70vh;
  overflow: scroll;
}

.user-show-right .user-blog-self {
  font-weight: normal;
  height: 20vh;
  border-bottom: #ddd 1px solid;
}

.user-show-right .user-blog-self .user-blog-self-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-show-right .user-blog-self .user-blog-self-box1 .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: .5vh 0 0 .5vw;
}

.user-show-right .user-blog-self .user-blog-self-box1 li:not(:nth-of-type(1)) {
  font-weight: bold;
  margin-left: 1vw;
  line-height: 55px;
  height: 55px;
}

.user-show-right .user-blog-self .user-blog-self-box2 {
  margin-left: 5vw;
}

.user-show-right .user-blog-self .user-blog-self-box2 li {
  padding-top: .1vh;
}

.user-show-right .user-blog-self .user-blog-self-box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3vh 0 0 2vw;
}

.user-show-right .user-blog-self .user-blog-self-box3 li {
  margin-left: -2vw;
}

.user-show-right .user-blog-self .user-blog-self-box3 a {
  display: inline-block;
  margin-left: 3vw;
}

.header-user-index {
  height: 10vh;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0 0 5px 5px #aaa;
          box-shadow: 0 0 5px 5px #aaa;
}

.user-index-center {
  width: 67%;
  background-color: #fff;
  margin: .5%;
}

.user-index-center .search-wrapper {
  display: table;
  margin: 0 auto;
  width: 50vw;
}

.user-index-center .search-wrapper h3 {
  display: table;
  margin: 5% auto;
  padding: 0 3% 1% 3%;
  font-size: 1.5rem;
}

.user-index-center .search-wrapper .search-box {
  margin: 0 auto;
  display: table;
  width: 29vw;
}

.user-index-center .search-wrapper .search-field {
  height: 3vh;
  width: 20vw;
  border-radius: 5%;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 1.1rem;
}

.user-index-center .search-wrapper .search-field:focus {
  border-bottom: 2px solid #d37800;
}

.user-index-center .search-wrapper .search-button {
  height: 40px;
  border: #d37800 solid 1px;
  background-color: #d37800;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 5%;
  padding: 0 5% 0 5%;
  border-radius: 10%;
}

.user-index-center .search-wrapper .search-button:active {
  outline: none;
}

.user-index-center .search-wrapper .search-box:hover {
  opacity: .9;
}

.user-index-center .user-wrapper {
  overflow: scroll;
  height: 80vh;
}

.user-index-center .user-wrapper .user-self-wrapper {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
}

.user-index-center .user-wrapper .icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 8% 0 0 8%;
  border-radius: 50%;
}

.user-index-center .user-wrapper p {
  line-height: 50px;
  margin-left: 3%;
}

.user-index-center .user-wrapper a:hover {
  color: #d37800;
}

.user-shared-login {
  margin: 5% 0 3% 3%;
}

.user-shared-login a:hover {
  color: #d37800;
}

.user-shared-signup {
  margin: 5% 0 3% 3%;
}

.user-shared-signup a:hover {
  color: #d37800;
}

.login {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
  border: #ddd 1px solid;
  margin: 3% auto;
  height: 75vh;
  width: 50vw;
  display: table;
  border-radius: 1%;
  -webkit-box-shadow: 0 0 5px 5px #ddd;
          box-shadow: 0 0 5px 5px #ddd;
}

.login h2 {
  margin: 5% 0 3% 3%;
  font-size: 1.7rem;
  font-weight: normal;
  border-bottom: 2px solid #d37800;
  color: #d37800;
  display: inline-block;
  padding-bottom: 2%;
}

.login .login-field {
  width: 45vw;
  margin-left: 3%;
  height: 5vh;
  outline: none;
  border: none;
  border-bottom: #ddd 1px solid;
  margin-bottom: 3%;
}

.login .login-field:focus {
  border-bottom: 1px solid #d37800;
}

.login .login-label {
  display: inline-block;
  border-left: #d37800 5px solid;
  padding: 2% 0 2% 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  font-size: 1.2rem;
}

.login .actions {
  width: 40vw;
  margin: 0 auto;
}

.login .actions .login-button {
  width: 40vw;
  height: 40px;
  border: #d37800 solid 1px;
  background-color: #d37800;
  color: #fff;
  font-size: 1.2rem;
}

.login .actions .login-button:hover {
  opacity: .9;
}

.login .field-save {
  margin: 0 0 3% 3%;
}

.edit {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.2rem;
  border: #ddd 1px solid;
  margin: 3% auto;
  width: 50vw;
  display: table;
  border-radius: 1%;
  -webkit-box-shadow: 0 0 5px 5px #ddd;
          box-shadow: 0 0 5px 5px #ddd;
}

.edit h2 {
  margin: 5% 0 3% 3%;
  font-size: 1.7rem;
  font-weight: normal;
  border-bottom: 2px solid #d37800;
  color: #d37800;
  display: inline-block;
  padding-bottom: 2%;
}

.edit .edit-field {
  width: 45vw;
  margin-left: 3%;
  height: 5vh;
  outline: none;
  border: none;
  border-bottom: #ddd 1px solid;
  margin-bottom: 3%;
}

.edit .edit-field:focus {
  border-bottom: 1px solid #d37800;
}

.edit .edit-label {
  display: inline-block;
  border-left: #d37800 5px solid;
  padding: 2% 0 2% 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  font-size: 1.2rem;
}

.edit .actions {
  width: 40vw;
  margin: 0 auto;
}

.edit .actions .edit-button {
  width: 40vw;
  height: 40px;
  border: #d37800 solid 1px;
  background-color: #d37800;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 5%;
}

.edit .actions .edit-button:hover {
  opacity: .9;
}

.edit .stop-edit-button {
  font-size: 0.8rem;
  margin: 0 0 5% 5%;
  display: inline-block;
}

.edit .stop-edit-button:hover {
  color: #d37800;
}

.header-registration-edit {
  height: 10vh;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0 0 5px 5px #aaa;
          box-shadow: 0 0 5px 5px #aaa;
}

.header-registration-new {
  height: 10vh;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0 0 5px 5px #aaa;
          box-shadow: 0 0 5px 5px #aaa;
}

.header-settion-new {
  height: 10vh;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0 0 5px 5px #aaa;
          box-shadow: 0 0 5px 5px #aaa;
}

.followers-box {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 50vw;
  margin: 0 auto;
}

.followers-box h1 {
  display: table;
  margin: 5% auto 0 auto;
  font-size: 1.8rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 3%;
  font-weight: normal;
}

.followers-box .followers-user {
  padding: 1% 0;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.followers-box .followers-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.followers-box .followers-user .followers-name {
  line-height: 50px;
  padding-left: 2%;
}

.following-box {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 50vw;
  margin: 0 auto;
}

.following-box h1 {
  display: table;
  margin: 5% auto 0 auto;
  font-size: 1.8rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 3%;
  font-weight: normal;
}

.following-box .following-user {
  padding: 1% 0;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.following-box .following-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.following-box .following-user .following-name {
  line-height: 50px;
  padding-left: 2%;
}

.back-profile {
  margin: 2% 0 0 2%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.back-profile:hover a {
  color: #d37800;
}
/*# sourceMappingURL=users.css.map */